.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #f8f9fa;
}
.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
.navbar {
    padding: 0.2rem 1rem;
}
.navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.navbar-brand {
    height: 80px;
    width: auto;
    margin-left: 300px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
    display: flex;
}
.navbar-nav .nav-item {
    margin-right: 15px;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #000000; 
    font-weight:bold;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.navbar-nav .nav-link.active {
    background-color:#7b72a0e1;
    color: white !important;
    font-weight: bolder;
    border-radius: 5px;
}
.navbar-nav .nav-link:hover {
    background-color: #bab5d3e1;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
}
a {
    color: #3498db;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
a:hover {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    text-decoration: none;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
body {
    padding-top: 20px;
}
.home-page .home-image {
    display: block;
    margin: 0 auto;
     max-width: 40%;
}
.btn-custom {
    background-color: #39407e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.btn-custom:hover {
    background-color: #1abc9c;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b32b0e1;
    font-weight: bold;
}
.prototype-image-goal {
       max-width: 75%;
       height: auto;
}
.prototype-image-foot {
       max-width: 50%;
       height: auto;
}
.prototype-image-legUnit {
       max-width:60%;
       height: auto;
}
.prototype-image-clamping {
       max-width: 60%;
       height: auto;
}
.prototype-image-weight {
       max-width: 60%;
       height: auto;
}
.prototype-image-stabilization {
       max-width: 50%;
       height: auto;
}
.prototype-image-rotunit{
       max-width: 50%;
       height: auto;
}
.meme-image {
    max-width: 20%;
    height: auto;
    margin-left: 330px;
}


.science-image-herniateddisc{
       max-width: 60%;
       height: auto;
}
.science-image-fackmuscles{
       max-width: 90%;
       height: auto;
}
.science-image-multifidi{
       max-width: 30%;
       height: auto;
}
.science-image-formula{
       max-width: 80%;
       height: auto;
}
.science-image-formulabook{
       max-width: 70%;
       height: auto;
}
.science-image-leverlaw{
       max-width: 60%;
       height: auto;
}
.science-image-equipment{
       max-width: 50%;
       height: auto;
}

.science-image-messung1{
       max-width: 50%;
       height: auto;
}
.science-image-messung2{
       max-width: 50%;
       height: auto;
}


