.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
}
.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
.navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.navbar-brand {
    height: 100px;
    width: auto;
    margin-left: 300px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
    display: flex;
}
.navbar-nav .nav-item {
    margin-right: 15px;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #000000; 
    font-weight:bold;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.navbar-nav .nav-link.active {
    background-color:#7b72a0e1;
    color: white !important;
    font-weight: bolder;
    border-radius: 5px;
}
.navbar-nav .nav-link:hover {
    background-color: #bab5d3e1;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
}
.home-page .home-image {
    display: block;
    margin: 0 auto; 
}
h1, h2, h3, h4, h5, h6 {
    color: #4b32b0e1;
    font-weight: bold;
}
a {
    color: #3498db;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
a:hover {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    text-decoration: none;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Stay above other elements */
    background-color: rgba(255, 255, 255, 0.9); /* Light background with translucency */
    backdrop-filter: blur(8px); /* Optional: adds blur behind the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s ease;
}
body {
    padding-top: 20px;
}
/*
.navbar {
    background-color: rgba(44, 62, 10, 100);
    color: white;
}
*/